body {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

a {
    cursor: pointer;
    text-decoration: none;
}

app-header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    height: 134px;
    box-shadow: 0 3px 11px var(--shadow-pages);
    display: flex;
    flex-direction: column;
    background: var(--background-color) 0 0 no-repeat padding-box;
    color: var(--text-color);
}

app-footer-head {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 -3px 14px var(--shadow-pages);
    padding: 20px 10%;
}

