<div class="Menu">
    <div class="menu">
        <div class="MenuFlex">
            <div *ngFor="let el of menu" [routerLink]="el.path" class="Menusechtion" >
                <a > {{el.menuName}} </a>
            </div>
        </div>
    </div>
</div>
<div class="signup">
    <div class="first">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="second">
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <div>
        <button class="signupButton">
            <span>Sign Up</span>
        </button>
    </div>
    <div class="mood" (click)="changesun()" [class.activelight]="activemood === 'sun'">
        <i id="sun" class="fa-solid fa-sun"></i>
    </div>
    <div class="mood" (click)="changemoon()" [class.activedark]="activemood === 'moon'">
        <i id="moon" class="fa-solid fa-moon"></i>
    </div>
</div>